
        :root {
            --main-header-color:#36545e;
        }
        body,html {
            margin: 0%;
            padding: 0%;
            background-color: #fefefe;
        }
        header {
            height: 40px;
            padding: 10px;
            width: calc(100% - 20px);
            line-height: 10px;
            color: white;
            font-family: sans-serif;
            display: flex;
            background: var(--main-header-color);
            position: fixed;
            top: 0;
            left: 0;
            cursor: pointer;

        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto ;
            grid-gap: 10px;
            /* background-color: #2196F3; */
            padding: 10px;
          }
        .logo {
            text-decoration: none;
            width: 100px;
            margin-top: 7px;
            justify-content: center;
            align-items: center;
        }
        .logo img{
            width: 18%;
        }
        .logo a{
            text-decoration: none;
            color: #000;
            font-family: sans-serif;

        }
        .menu-options {
            width: calc(100% - 40px);
            display: flex;
            justify-content: flex-end;
        }
        .menu-options h4{
            margin: 0;
            color: white;
            font-family: sans-serif;
        }
        .search-box {
            width: 20%;
            display: flex;
            padding: 0px 20px;
            border-color: lightgray;
        }
        .search-box input{
            padding: 10px;
            font-size: 15px;
            background-color: #fefefe;
            border: 1px solid #ccc;
            width: calc(100% - 62px);
        }
        .btn-main{
            padding: 10px;
            font-size: 15px;
            background-color: #fefefe;
            border-style: none;
            border: 1px solid #ccc;
            cursor: pointer;
        }
        .btn-search {
            width: 40px;
        }
        .search-box input:placeholder{
            color: #ccc;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .item-option{
            text-decoration: none;
            padding: 5px 10px;
            line-height: 30px;
            font-size: 30px;
            cursor: pointer;
            color: #ffffff;
        }
        .main-content {
            margin-top: 60px;
            width: 100%;
            font-family: 'Spartan' , sans-serif;
        }
        .content-page {
            margin: auto;
            padding: 40px 40px 40px 40px;
            width: calc(75% - 20px);
            max-width: 1180px;
        }
        .content-page section{
            display: flex;
        }
        .sec1{
            padding: 5px;
            width: calc(60% - 10px);
        }
        .sec2{
            padding: 5px;
            width: calc(40% - 10px);
        }
        .sec1 img {
            width: 100%;
        }
        .sec2 *{
            margin: 15px 0;
            color: #666;
        }
        .sec2 h2{
            color: orangered;
            font-size: 30px;
        }
        .title-section {
            padding: 0px;
            font-size: 20px;
            color: #aaa;
        }
        .product-box{
            height: 34px;
            display: inline-table;
            padding: 10px;
            width: calc(100%/5 - 20px);
        }
        .product-box a{
            text-decoration: none;
        }
        .product {
            width: 100%;
            border-radius: 10px ;
            background-color : #fff;
            border: gray;
        }
        .product img{
            width: 100%;
        }
        .detail-title{
            padding: 5px;
            text-align: center;
            font-size: 18px;
            color: #999;
            width: calc(100% - 10px);
        }
        
        .detail-description {
            text-align: center;
            font-size: 14px;
            color: #999;
            padding: 5px;
            width: calc(100% - 10px);

        }
        .detail-price {
            text-align: center;
            font-size: 25px;
            color: #0f0f00;
            padding: 5px;
            width: calc(100% - 10px);

        }
        .products-list{
            display: table;
            width: 100%;
        }
        header a {
            color: #fff;

        }
        .body-order{
            width: calc(100% - 200px);
        }
        .item-order{
            /* width: calc(100%-10px); */
            display: flex;
            border: 1px #ccc solid;
            margin-bottom: 5px;
            background: #fff;
        }
        .order-img{
            width: 200px;
        }
        .order-img img{
            width: 100%;
        }
        .order-detail{
            padding: 10px;
            width: calc(100% - 220px);
        }
        .order-detail h3,
        .order-detail p{
            margin: 5px 0;
        }
        header p{
            line-height: 10px;
        }
        .options ul{
            margin: 0;
            padding: 0;
        }
        .options li a{
            display: block;
            color: black;
            text-decoration: none;
        }
        .options{
            display: none;
            top: 5px;
            padding: 10px 15px;
            width: 150px;
            background: #eee;
            position: fixed;
            top: 80px;
            right: 30px;
        }
        .log input {
            font-family: sans-serif;
            border: none;
            width: calc(100% - 20px);
            padding: 0px 0px 0px 30px;
            margin: 10px;
            height: 5%;            
        }
        .log {
            justify-content: center;
            padding: 40px 20px;
            margin: 5% 32%;
            background: lightgrey;
            border-radius: 20px;
        }
        .log span h1{
            margin: 0px 30px 0px 30px;
        }
        form{
            max-width: 460px;
            width: calc(100% - 40px);
            padding: 35px 15px 35px 15px;
            background: lightgrey;
            margin: auto;
        }
        form h1 {
            margin: 5px 10px;
            
        }
        form input{
            border: none;
            border-radius: 5px;
            padding: 7px 0 7px 15px;
            margin: 15px 0 0 24px; 
            width: calc(100% - 62px);
            height: 30px;
        }
        form button {
            padding: 10px 15px;
            margin: 10px 0px 22px 62px; 
            width: calc(100% - 112px);
            font-weight: bold;
        }
        form p{
            color: red;
            margin: 0px;
            font-size: 15px;
        }
        .logo a{
            text-decoration: none;
            color: #000;
            font-family: sans-serif;
            
        }
        form span{
            padding: 0;
            margin: 0 0 0 20%;
        }